.search {
    background-color: navajowhite;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20%;
    padding: 2% 5%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
    font-size: 20px;
    border-radius: 8px;
}

